<p>validation works!</p>
<form action=""  [formGroup]="profile" (ngSubmit)="save()">

    <label for="">name</label>
    <div>
    <input type="text" formControlName="name">
    </div>
    <label for="">email</label>
    <div>
    <input type="text" formControlName="email">
    </div>
    <label for="">password</label>
    <div>
    <input type="text" formControlName="password">
    </div>
    <input type="submit"  value="save">
    {{profile.status}}
    {{profile.dirty}}
    {{profile.touched}}
</form>